@charset "utf-8";
/* CSS Document */
html{

	scroll-behavior: smooth;
}
body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y:auto;
	perspective: 1px;
	transform-style: preserve-3d;
}
.header{
	background-image:url("healthcare-text-screenshot-near-green-fern-leaf-2383010.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	padding-bottom:200px;
	max-width: 100%;
}
.header-1{
	height:200px;
}
nav{
list-style: none;
 float:right;
 margin-top:150px;
 margin-right:50px;
}
nav a{
	text-decoration: none;
	font-size:30px;
	color:black;
}
nav button{
	margin:20px;
}
.btn {
  background: purple;
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-size: 40px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}
.btn:hover {
  background: transparent;
	transition:.7s;
}
h1{
	font-size:40px;
	color:purple;
	text-align: center;
	font-family: "bahnschrift";
}
p1{
	margin-left: 30px;
	margin-right:30px;
	font-size:23px;
	text-align: center;
	font-family: "arial";
}
.row:after{
	content:'';
	display:table;
	clear:both;
}
.column2{
	float:left;
	width:50%;
}
.choices{
	margin-left:4px;
	margin-top:30px;
	width:1500px;
	position:relative;
	transition:left;
}
.column3{
	margin:15px;
	float:left;
	width:20%;
	height:450px;
	text-align:center;
}
.vr{
	margin-left:-20px;
	margin-top:-240px;
	width:2px;
	height:200px;
	background-color:purple;
}
h2{
	color:purple;
	font-family: "bahnschrift";
}
p2{
	font-size:18px;
	text-align:center;
	font-family: "arial";
}
.container3{
	background-image:url("covid.png");
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	padding-bottom:680px;
	transform-style: preserve-3d;
}
.container4{
	
	background-image:url("illustration of Coronavirus pandemic social banner template.jpg");
	padding-bottom: 90px;
	background-size:cover;
	margin-top: -30px;
}
.box{
align-content: center;
	width:500px;
	height:400px;
	text-align: center;
	margin:auto;
	margin-top:50px;

}
hr{
	height:2px;
	background: #000000;
	border: none;
	width:10%;
	margin-top:-20px;
}
.team h2{
	font-size:33px;
	text-align: center;
	font-family: "bahnschrift";
}
.anim-typewriter{
	
}

@keyframes typewriter{
	from{
		width: 0;
	}
	to{
		width:16em;
	}
}

@keyframes blinkTextCursor{
	from{
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to{
		border-right-color: transparent;
	}
}
.line {
	position: relative;
	top:50%;
	width:24em;
	margin: 0 auto;
	border-right:2px solid rgba(255, 255, 255, 0.75);
	font-size: 100%;
	text-align:center;
	white-space: nowrap;
	overflow:hidden; transform: translateY(-50%);
}
.title{
	color:grey;
	font-size:18px;
}
.card{
	margin-top:50px;
	height:350px;
	margin-left:30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
	width:230px;
	font-family:"arial";
	text-align:center;
	
}
.card:hover .doctors{
	transform: scale(1.5);
	transition:.8s;
}
.teams{
	display: flex;
}
h4{
	margin-top:40px;
	color:purple;
}
.team:hover .line{
animation: typewriter 2s steps(20) 1s 1 normal both, 
	blinkTextCursor 500ms steps(20) infinite normal;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slideshow-container {
  max-width:1100px;
max-height:500px;
  position: relative;
  margin: auto;
}
.backToTop hr{
	margin-top: 240px;
	width:100%;
	position: absolute;
}
.footer img{
	width:100%;
	margin-top:300px;
}
.header h1{
	position: relative;
	top:50%;
	width:24em;
	margin: 0 auto;
	border-right:2px solid rgba(255, 255, 255, 0.75);
	font-size: 50px;
	text-align:center;
	white-space: nowrap;
	overflow:hidden; transform: translateY(-50%);
	animation: typewriter 2s steps(20) 1s 1 normal both, 
	blinkTextCursor 500ms steps(20) infinite normal;
}
@media all and (max-width: 600px){
	.header img{
		width:160px;
		
	}
	.header{
		padding-bottom: 100px;
	}
	.header-1 h1{
		font-size:30px;
	}
	.header-1 p1{
		font-size:17px;
	}
	.column2{
		
		float: none;
		width:100%;
	}
	.ahead{
		width:150px;
		margin-left:30px;
		
	}
	.h1{
		font-size:20px;
		
	}
	.column3{
		text-align: center;
		float:none;
	}
	.backToTop img{
		width:50px;
		margin-left:200px;
		margin-top: 50px;
		
	}
	.backToTop hr{
		margin-top: 40px;
	}
	.footer{
		margin-top:-220px;
		
	}
	}
	